extends layout

block content
  h1 Bem-Vindo,
  p.lead Esta é uma aplicação CRUD para um sistema de usuários padrão.
  hr
  if !user
    .card
      .card-body
        h2 Novo por aqui?
        p Entre no sistema com um Administrador ou Cadastre um Administrador.
        p
          a.btn.btn-success(href='/login', role='button') Entrar »
          a.btn.btn-success(href='/signup', role='button').ml-3 Criar Conta »
  else
    .card
      .card-body
        h4 Cadastre uma nova Pessoa
          p
          a.btn.btn-success(href='/person/add', role='button') Cadastrar Pessoa »
    .card
        .card-body
          h4 Visualize a Lista de Pessoas
            p
            a.btn.btn-success(href='/person/list', role='button') Lista de Pessoas »
